# Archivos compilados
*.o
*.so
*.exe
*.dll
*.class
*.pyc
*.pyo
*.pyd
__pycache__/

# Paquetes y directorios de Python
*.egg-info/
dist/
build/
develop-eggs/
*.egg

# Entornos virtuales de Python
venv/
env/
virtualenv/

# Herramientas de desarrollo integradas
.idea/
.vscode/
*.swp
*.swo

# Sistema de archivos de macOS
.DS_Store

# Sistema de archivos de Windows
Thumbs.db
Desktop.ini

# Archivos de configuración del editor
*.sublime-workspace
*.sublime-project

# Logs y archivos de bases de datos
*.log
*.sql
*.sqlite

# Carpetas y archivos de configuración específicos del proyecto
config.json
secrets.yml

# Carpetas y archivos de dependencias
node_modules/
bower_components/

# Otros archivos y carpetas que pueden contener información sensible o no necesaria
backup/
temp/
*.tmp
